@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
  background-color: #5e4969;
  
}

.btn-primary{
  color:#46047200;
}

.navbar-toggler {
  border-color: #fff;
}

.navbar-nav .nav-item {
  margin-right: 35px;
}

.navbar {
  background-color: #37134e;
}

.navbar-brand{
  font-size: 25px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 0px;
}

.textoPrinc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;
  font-family: "Roboto Slab", serif;
}

.pe{
  font-size: 12px;
  margin-left: 0px;
  font-family: "Roboto Slab", serif;
}

.nav-item{
  font-family: "Kanit", sans-serif;
}

#carouselExampleControls img {
  margin-top: 2px;
  width: 100%;
  height: auto;
  max-height: 400px;
}

.navbar-nav .nav-link {
  transition: border-color 0.5s ease;
}

.navbar-nav .nav-link:hover{
  border-bottom: 2.5px solid rgb(99, 0, 156);
}

.navbar-nav .nav-link.clicked{
  border-bottom: 2.5px solid rgb(187, 141, 214);
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  filter: brightness(30%);
}

.informacion{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title{
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  color: white;
  font-family: "Chocolate Classical Sans", sans-serif;
  margin-bottom: 12.5px;
  border-bottom: 1px solid #ffffff;
}

.informationText{
  font-size: 15px;
  color: white;
  font-family: "Poppins", sans-serif;
  flex-direction: column;
  display: flex;
  text-align: center;
}

.info{
  margin-bottom: 40px;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
}

.custom-button {
  border-radius: 30px; /* Bordes redondeados */
  background-color: transparent; /* Fondo transparente */
  color: white; /* Texto en color blanco */
  border: 2px solid rgb(81, 135, 235); /* Borde de 2px sólido blanco */
  padding: 7.5px 15px; /* Espaciado interno */
  cursor: pointer; /* Cursor de apuntador */
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
  font-family: "Poppins", sans-serif;
  margin-bottom: 60px;
}

.custom-button {
  border-radius: 30px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 7.5px 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
  font-family: "Poppins", sans-serif;
  margin-bottom: 60px;
}

.cuadro{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
}

.foto{
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}

.textoCuadro{
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.dropdown-item:hover{
  background-color:rgb(63, 2, 99);
  color: white;
  transition: color 0.7s ease;
  transition: background-color 0.7s ease;
  border-radius: 5px;
}

@keyframes aparecer{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.cuadro img{
  animation: aparecer 3s 1; 
}

.cuadro h2{
  animation: aparecer 3s 1; 
}

@keyframes desplegarMenu{
  from{
    max-height: 0;
    opacity: 0;
  }
  to{
    max-height: 110px;
    opacity: 1;
  }
}

@keyframes cerrarMenu {
  from {
    max-height: 110px;
    opacity: 1; 
  }
  to {
    max-height: 0; 
    opacity: 0; 
  }
}

.dropdown-menu {
  overflow: hidden; 
  transition: max-height 0.5s ease, opacity 0.5s ease; 
  animation: desplegarMenu 0.5s forwards; 
  animation-duration: 0.8s;
}

.info{
  overflow: hidden; 
  transition: opacity 3s ease; 
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
}

.btn{
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
}

.custom-button {
  position: relative; /* Asegura que los pseudo-elementos se posicionen correctamente */
  overflow: hidden; /* Oculta cualquier contenido que sobresalga */
  transition: color 1s ease;
}

.custom-button::after {
  content: ''; /* Crea un pseudo-elemento vacío */
  position: absolute; /* Lo posiciona de manera absoluta dentro del botón */
  top: 0;
  left: 0;
  width: 0; /* Inicialmente tiene ancho cero */
  height: 100%;
  background-color: white; /* Color de fondo blanco */
  z-index: -1; /* Asegura que esté detrás del texto del botón */
  transition: width 1s ease; /* Transición para el ancho */
}

.custom-button:hover::after {
  width: 100%; /* Aumenta el ancho al 100% cuando se pasa el mouse por encima */
}

.custom-button:hover {
  color: black;
}

.container{
  margin-top: 50px;
}

@media (max-width: 600px){
  #carouselExampleControls img {
    max-height: 200px;
  }
  .container{
    margin-top: 20px;
  }
  .cuadro img{
    margin-right: 20px;
  }
  .cuadro{
    display: flex;
    flex-direction: row;
  }
  #foto1{
    margin-right: 27px;
  }
  #foto2{
    margin-right: 40px;
  }
  #foto4{
    margin-right: 33px;
  }
  #texto1{
    margin-right: 6px;
  }
  #texto2{
    margin-right: 25px;
  }
  #texto4{
    margin-right: 7px;
  }
}

.form-control{
  width: 400px;
  margin-left: 50px;
  background-color: #5e4969;
  font-size: 15px;
  color: white;
}

@media (max-width: 600px){
  iframe{
    width: 100%;
    height: 150px;
  }
  .form-control{
    width: 250px;
  }
}

.formInfo{
  margin-top: 0px;
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
}

.consulta{
  font-size: 25px;
  color: white;
  font-family: "Montserrat", sans-serif;
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
}

@media (min-width:600px){
  .consulta{
    margin-left: 50px;
  }

  .infoIzq{
    margin-bottom: 250px;
  }
  
  .infoIzq .contactanos{
    margin-top: 20px;
  }
}

.btn2{
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
  margin-left: 150px;
  margin-top: 30px;
  cursor: pointer;
}

.form-control:focus{
  border-color: #8c00ff;
}

.cuadrados{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  width: 100%;
}

.contenido{
  margin-top: 10%;
  display: flex;
  flex-direction: row;
}

.inputText{
  margin-top: 50px;
  width: 150px;
}

.contactanos{
 font-size: 20px;
}

.contacto{
  font-size: 15px;
}

.infoIzq{
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 0px;
  color: white;
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
  font-family: "Poppins", sans-serif;
  width: 200px;
}

.mensaje{
  margin-right: 0px;
  margin-top: 92.5px;
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
}

.formInfo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 500px;
}

.mensaje .form-control{
  height: 160px;
}

.contactoFooter{
  width: 100%;
  height: 100px;
  background-color: rgb(62, 42, 78);
}

.informacionFooter{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  flex-direction: column;
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
}

#foto3{
  width: 50px;
  height: 50px;
}

.mail{
  color: rgb(255, 238, 0);
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  font-size: 20px;
}

.mail:hover{
  text-decoration: none;
  transition: color 0.5s ease;
}

@media (max-width:600px){
  .mensaje{
    margin-top: 10px;
  }

  .contactoFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .btn2{
    margin-left: 75px;
  }

  .formInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
  }

  .contenido{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
  }

  footer{
    width: 100%;
  }

  .consulta{
    margin-top: 10px;
  }

  .infoIzq{
    margin-top: 20px;
    height: 200px;
  }
}

@keyframes movimiento {
  0% {
    background-position: bottom;
  }
  50% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

.containerMovimiento {
  width: 100%;
  height: 260px;
  background-image: url(./img/movimiento.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(30%);
  animation: movimiento 20s infinite;
}

@media (max-width: 600px) {
  .containerMovimiento {
    height: 200px; 
    background-size: contain;
    background-position: center; 
  }
}

.titulo{
  color: white;
}

.titulo:hover{
  text-decoration: none;
  color: white;
}

.textoNosotros{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Poppins", sans-serif;
}

textarea{
  resize: none;
}

.nextInfo img{
  margin-top: 0px;
  width: 440px;
  height: 400px;
  align-items: right;
  display: flex;
  justify-items: right;
  align-content: right;
}

.nextInfo{
  margin-top: 100px;
  justify-content: center;
  display: flex;
  align-items: row;
  color: white;
  justify-items: center;
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;

}

.divTexto{
  width: 500px;
}

.nextInfo h4{
  color: black;
  margin-left: 20px;
  width: 400px;
  margin-right: 100px;
  display: flex;
  justify-items: center;
  align-content: center;
  align-items: center;
}

.textoNosotros{
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

.textoNosotros h4{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 50%;
}

.button{
  height:80px;
  background: linear-gradient(to left top, rgb(34, 1, 53) 80%, rgb(34, 1, 53) 20%);
  border-style: none;
  color:#fff;
  font-size: 20px;
  letter-spacing: 3px;
  font-family: "Kanit", sans-serif;
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .3s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  width: 170px;
  margin-top: 20px;
}

.button span{
  position: absolute;
  display: block;
}

.button span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
.button span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #f6e58d);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}

@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}

.button span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #f6e58d);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}

@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

.button span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #f6e58d);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}

@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

.button:hover{
  transition: all .5s;
  transform: rotate(-1deg) scale(1.05);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}

.textoAsesoramiento2{
  color: white;
  text-align: center;
  font-size: 40px;
}

.textoAsesoramiento{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: white;
}

.divIzq{
  font-family: "Kanit", sans-serif;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  margin-top: 10%;
  margin-left: 50px;
}

.wrapper{
  margin-top: 80px;
}

.containerFoto{
  display: flex;
  flex-direction: row;
}

.containerFoto img{
  display: flex;
  margin-top: 180px;
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.estadisticas{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  gap: 100px;
  margin-bottom: 100px;
  margin-top: 50px;
}

.texto1, .texto2, .texto3{
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
  animation: coresDancantes 5s linear infinite;
}

.division1, .division2, .division3{
  color: white;
  margin-bottom: 50px;
}

.division1{
  margin-left: 60px;
}

.division2{
  margin-left: 10px;
}

.division3{
  margin-left: 50px;
}

.rainbow-text {
  font-size: 3em;
  font-weight: bold;
  background: linear-gradient(90deg, 
      #ff0000, #ff7f00, #ffff00, #7fff00, #00ff00, 
      #00ff7f, #00ffff, #007fff, #0000ff, #7f00ff, 
      #ff00ff, #ff007f, #ff0000, #ff007f, #ff00ff, #7f00ff, #0000ff, #007fff, #00ffff, #00ff7f, #00ff00, #7fff00, #ffff00, #ff7f00);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow 4s linear infinite;
}

@keyframes rainbow {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.imagenHombre{
  margin-bottom: 100px;
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards;  
  animation-duration: 3s;
}

.slider {
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  background-color: transparent;
  margin-bottom: 15px;
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
}

.slider .slide-track {
  display: flex;
  animation: scroll 60s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: calc(200px * 14);
}

.slider .slide {
  width: 100px;
  margin-left: 50px;
}

.slider .slide img {
  width: 100%;
  height: 100%;
}

@keyframes scroll {
  0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
  }
  100% {
      -webkit-transform: translateX(calc(-200px * 7));
      transform: translateX(calc(-200px * 7));
  }
}

.textoAlumno{
  margin-top: 100px;
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
}

.contenidorgb{
  background: linear-gradient(to right, var(--cores-dancantes));
  border-radius: 10px;
  position: relative;
  z-index: 999;
  animation: coresDancantes 2s linear infinite;
}

@keyframes coresDancantes{
  100%{
      filter: hue-rotate(360deg);
  }
}

.containerFoto{
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
}

#divBotones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-top: 70px;
  gap: 150px;
}

#botonReset{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  width: 200px;
  height: 50px;
}

#botonSubmit{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  width: 500px;
}

.contenido2{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  margin-top: 100px;
}

.btn3{
  overflow: hidden; 
  transition: opacity 3s ease;
  animation: aparecer 3s forwards; 
  animation-duration: 3s;
  cursor: pointer;
}